
#boody{background-color: slategray;}
#deev{background-color: black;}

.carousel-inner{border-radius: 50%; margin-top: 100px;}

.accordion-item{color: aliceblue; background-color: black; margin-top: 10px;}

#accordionFlushExample{margin-top: 80px;}

.accordion-header{background-color: black;}

.accordion-button collapsed{background-color: black;}

#fooot{ margin-top: 100px; display: block;}